* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    background-color: white;
}

header {
    height: 90px;
    width: 100%;
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1.5em;
}

.p-header {
    margin: auto;
    color: black;
    margin-left: 670px;
    padding-right: 30px;
}

.titulo {
    color: black;
    background-color: rgb(255, 196, 0);
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-right: 170px;
}

.subtitulo {
    color: rgb(223, 173, 10);
    text-decoration: underline;
}

.menu {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

.a-menu {
    text-decoration: none;
    color: rgb(255, 196, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 0 20px;
    position: relative;
    transition: none;
    display: inline-block;
}

.a-menu::before, .a-menu::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 2px;
    height: 25px;
    background-color: rgb(255, 196, 0);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-50%);
}

.a-menu::before {
    left: -5px;
    transform: translateY(-50%) scaleY(0);
}

.a-menu::after {
    right: -5px;
    transform: translateY(-50%) scaleY(0);
}

.a-menu:hover::before, .a-menu:hover::after {
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
}

.a-menu:hover {
    padding-bottom: 0;
}

.contenedor{
    width: 360px;
    height: 410px;
    border: 5px solid black;
    margin: 50px;
    background-color: white;
    border-radius: 5px;
    
}

.img1{
    width: 350px;
    height: 400px;
    border: 5px solid rgb(255, 196, 0);
}

.contenedorparrafo{
    position: absolute ;
    left: 600px;
    top: 185px;
    color: black;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 1.1em;
}

footer {
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 25px;
    display: flex;
}

.logo-footer {
    height: 210px;
    width: 180px;
    margin: 45px;
}

.h4-footer{
    color: white;
    margin: 60px 40px 30px 120px ;
}

.p-footer {
    color: gray;
    font-size: 1em;
    line-height: 0.5em;
    margin-left: 120px;
}

.p-footer:hover {
    color: rgb(75, 75, 75);
}